<td>
    {% if prize.isShipped == false %}
        <form method="post" action="" style="display: inline-block">
            <button type="button" class="btn btn-success">Выслать</button>
        </form>
        <form method="post" action="" style="display: inline-block">
            <button type="button" class="btn btn-danger">Отказаться</button>
        </form>
    {% endif %}
    {% if prize.isShipped %}
        Отправлен Вам почтой
    {% endif %}
</td>